grant codeBase "file:${client.home}/-" {
    permission java.security.AllPermission;
};

grant codeBase "${client.codebase}/-" {
    permission java.security.AllPermission;
};


grant codebase "file:/c:/Users/faire_000/.m2/repository/-"{
    permission java.security.AllPermission;
};

grant codebase "file:/d:/-"{
    permission java.security.AllPermission;
};
